<nav class="bg-gray-300 p-20">

<div class="w-full text-gray-700 max-w-screen">

  <div x-data="{ open: false }" class="flex flex-col mx-auto ax-w-screen lg:px-4 lg:items-center lg:justify-between lg:flex-row lg:px-6 lg:px-8">

    <div class="flex flex-row items-center justify-between px-4 lg:py-4">
      {% set homeLink = craft.entries.section('homePage').one() %}
      <a href="{{ homeLink.url }}" class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
        {# {{ svg('@webroot/assets/images/svg/logo.svg')|attr({ class: 'ml-4 md:ml-0' }) }} #}
        insert logo
        <span class="sr-only">Home</span>
        </a>
      <button class="mr-8 rounded-lg md:mr-12 lg:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
        {{ svg('@webroot/assets/images/svg/close.svg')|attr({ class:'h-6 w-6', 'x-show':'open',  'x-cloak':''}) }}
        <span class="sr-only" x-show="open">Close Menu</span><!-- /.sr-only -->
         {{ svg('@webroot/assets/images/svg/hamburger.svg')|attr({ class:'h-6 w-6', 'x-show':'!open'}) }}
         <span class="sr-only" x-show="!open">Open Menu</span><!-- /.sr-only -->
      </button>
    </div>




    {# https://codepen.io/una/pen/pVvXmK #}
    <nav class="flex-col flex-grow hidden h-screen pb-4 lg:pb-0 lg:flex lg:justify-end lg:flex-row lg:h-auto" aria-label="Main Navigation" :class="{'flex': open, 'hidden': !open}">



      <ul class="flex flex-col flex-wrap pl-0 m-0 lg:flex-row">

        <li class="relative block lg:px-2 xl:px-4 lg:py-4 lg:pr-2 mr-1">
          <a href="#" class="block px-4 lg:px-0 py-4">
            Page Title  +
          </a>

            <ul class="invisible hidden pl-4 mt-4 bg-white lg:ml-4 lg:left-0 lg:p-4 lg:shadow-lg lg:absolute dropdown" aria-label="submenu">
              <a href="#" class="block px-4 lg:px-0 py-4">
                Child Page
              </a>
            </ul>
        </li>
        <li class="relative block lg:px-2 xl:px-4 lg:py-4 lg:pr-2 mr-1">
          <a href="#" class="block px-4 lg:px-0 py-4">
            Page Title
          </a>
        </li>
        <li class="relative block lg:px-2 xl:px-4 lg:py-4 lg:pr-2 mr-1">
          <a href="#" class="block px-4 lg:px-0 py-4">
            Page Title
          </a>
        </li>

        <li class="relative flex flex-row items-center lg:p-4">
          <a href="#" class="block px-4 py-4">Français</a>
          {% include '_includes/language-switcher' %}
        </li>

      </ul>

    </nav>

  </div>
</div>

</nav>


<style>
  nav li {
    transition-duration: 0.5s;
  }
  nav  li:hover,
  nav li:focus-within {
    cursor: pointer;
  }
  nav  li.no-pointer:hover,
  nav li.no-pointer:focus-within {
    cursor: default;
  }

  /*
  nav li:focus-within a {
    outline: none;
  }
  */

  nav ul li ul {
    opacity: 0;
    z-index:9999;
    transition: all 0.5s ease;
    right: -20px;
    min-width:250px;
  }

  nav ul li:hover > ul,
  nav ul li:focus-within > ul,
  nav ul li ul:hover,
  nav ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  nav ul li ul li {
    clear: both;
    width: 100%;
  }
</style>