{% if block.sectionTitle|length %}
  <h2>{{ block.sectionTitle }}</h2>
{% endif %}

{% if block.sectionSubtitle|length %}
  <h3>{{ block.sectionSubtitle }}</h3>
{% endif %}

{% if block.copy %}
  {{ block.copy }}
{% endif %}
