  <section class="py-8 border-t border-gray-200">
    <div class="container">
      <div class="w-full">
        <h1 class="mb-8 text-4xl">{{ entry.title ?? category.title }}</h1>
      </div><!-- /.w-full -->
    </div><!-- /.container -->
  </section>

  {# make blog pagination reactive with sprig #}
  <!--_components/news-listing-->
  {{ sprig('_components/news-listing', { 'limit':6}) }}

    <script>
    htmx.on('htmx:afterSwap', function(event) {
      // scroll to top so we aren't left at the bottom of the new page
      window.scrollTo(0, 50);
    });
  </script>