<div class="bg-gray-200">
  {# hero content #}
  <div class="py-16">
    <div class="container relative z-10 h-full">
      <div class="flex flex-col w-full lg:w-1/2 h-full justify-center gap-8">
        <h1>{{ block.heroTitle ?? entry.title }}</h1>
      </div><!-- /.flex flex-col lg:flex-row -->
    </div><!-- /.container -->
  </div>
  {# end hero content #}
</div>