{# section background #}
{% set background = background ?? 'bg-white' %}

<section
  class="{{ block.padding.value ?? 'section-y-padding' }} border-t border-gray-200 {{ background }} @container">
  <div class="container">

    {% block body %}{% endblock %}

  </div><!-- /.container -->
</section>