{# use block layout #}
{% extends '_blocks/_layout' %}

{% block templateComment %}
  {{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% endblock %}

{# section background #}
{% set background = 'bg-gray-100' %}

{% block body %}

  <div class="flex flex-col items-center justify-center gap-8">
    {% if block.sectionTitle|length %}
      <h2>{{ block.sectionTitle }}</h2>
    {% endif %}
      {{ block.button.getLink({
        class: 'btn',
      }) }}

      {#
      {{ tag('a', {
          text: block.buttonText ?? block.button.label,
          href: block.button
        })|attr({
          class: 'btn',
          target: block.openInNewTab =='1' ? '_blank' : '_self'
        }) }}
       #}
  </div><!-- /.flex flex-row -->

{% endblock %}
