{# use block layout #}
{% extends '_blocks/_layout' %}

{# section background #}
{% set background = 'bg-gray-50' %}

{% block body %}

  {% if block.sectionTitle|length %}
    <h2 class="@lg:underline">{{ block.sectionTitle }}</h2>
  {% endif %}
  <div class="w-full prose">
    {{ block.copy }}
  </div><!-- /.w-full -->

{% endblock %}