{# use block layout #}
{% extends '_blocks/_layout' %}

{% block templateComment %}
  {{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% endblock %}

{# section background #}
{% set background = 'bg-Ctesting applepie' %}

{% block body %}

  {% if block.sectionTitle|length %}
    <h2 class="@lg:underline text-Ctesting">{{ block.sectionTitle }}</h2>
  {% endif %}
  <div class="w-full prose abc bg-Ctesting">
    {{ block.copy }}
  </div><!-- /.w-full -->

{% endblock %}