{# use block layout #}
{% extends '_blocks/_layout' %}

{# section background #}
{% set background = 'bg-gray-200' %}

{% block body %}
  {% if block.sectionTitle|length %}
    <h2>{{ block.sectionTitle ?? "Video Block" }}</h2>
  {% endif %}

  {#
    Override the default colour theme in Plyr:
    https://github.com/sampotts/plyr#customizing-the-css

    // this can be done in the @layer base of src/css/app.css
  #}

  {#
    // javascript in src/js/app.js
    #}



  <div class="mx-auto overflow-hidden rounded-lg lg:w-4/5 container-plyr">

    {# Assume Vimeo: #}
    {% if 'vimeo' in block.videoLink %}
      <div id="player"
        class="overflow-hidden js-player rounded-tl-brand"
        data-plyr-provider="vimeo"
        data-plyr-embed-id="{{ block.videoLink }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></div>
      </div>
    {% else %}

    {# Assume YouTube: #}
      <div id="player"
        class="overflow-hidden js-player rounded-tl-brand"
        data-plyr-provider="youtube"
        data-plyr-embed-id="{{ block.videoLink }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></div>
      </div>
    {% endif %}
  </div>
{% endblock %}