<article>
  <h2><a href="{{ entry.url }}" class="underline hover:no-underline underline-offset-3">{{ entry.title }}</a></h2>

  <p>
    customize search-item template with more info as needed
  </p>
</article>