@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    /*
      Override the default colour theme in Plyr:
      https://github.com/sampotts/plyr#customizing-the-css
    */
    --plyr-color-main: theme('colors.red.600');
    }
}

@layer components {

  [x-cloak] {
    display: none;
  }

  .responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .testing {
    @apply p-8 my-8 text-xl text-white bg-[#c2410c];
    clear: both;
    font-family: sans-serif;
  }

  .testing:before {
    @apply block mb-4 text-lg text-[#fbbf24] uppercase;
    content: 'Testing Note';
  }

  .testing:after {
    @apply block mt-4 text-lg text-[#fbbf24] uppercase;
    content: 'remove once testing complete';
  }

  html {
    /*
    prefers motion reduced disable smooth scrolling
    */
    @apply scroll-smooth motion-reduce:scroll-auto;
  }

  body {
    @apply font-default;
  }

  h1, h2, h3, h4, h5, h6, .h4, .h5 {
    @apply leading-tight;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply mb-8 text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  a {
    @apply underline-offset-2 hover:no-underline;
  }

  a.skip-main {
    @apply absolute top-[40px] w-[1px] h-[1px] overflow-hidden;
    left: -999px;
    z-index: -999;
    background: #2d2828;
  }

  a.skip-main:focus,
  a.skip-main:active {
    @apply text-white bg-[#2d2828] left-[5px] top-[50px] min-w-[200px] text-center my-[10px] mx-[5px] p-[10px] text-base z-[999] no-underline border border-black;
  }
  /* Nav */
  nav li {
    transition-duration: 0.5s;
  }
  nav  li:hover,
  nav li:focus-within {
    @apply cursor-pointer;
  }
  nav  li.no-pointer:hover,
  nav li.no-pointer:focus-within {
    @apply cursor-default;
  }
  nav ul li ul {
    @apply bg-white lg:left-0 px-0 py-1 lg:shadow-lg lg:absolute bg-gray-400 lg:max-w-[180px] w-full lg:w-[180px] lg:min-w-[180px] pl-8 lg:pl-0;
    z-index:9999;
    transition: all 0.5s ease;
    right: -20px;
  }
  nav ul li a {
    @apply block bg-transparent group-hover:text-white group-hover:bg-gray-400;
  }
  nav ul li:hover > a {
    @apply text-gray-900;
  }
  nav ul li ul ul {
    @apply top-0;
    right: -180px;
    left:auto;
  }
  /* nav ul li ul li {
    width: 100%;
  } */
  nav ul li img {
    @apply absolute right-[10px];
    top: calc(50% - 4px);
  }
  /* end nav */

  .btn {
    @apply inline-block px-6 py-1 text-white transition duration-200 bg-gray-400 rounded hover:bg-gray-300 hover:text-gray-700;
  }

  /* padding used in matrix blocks */
  .section-y-padding {
    @apply py-24;
  }
  .section-t-padding {
   @apply pt-24;
 }
 .section-b-padding {
   @apply pb-24;
 }
 .section-no-padding {
   @apply p-0;
 }

  /* form fields */
  .floating-input {
    @apply px-6 py-2 text-lg text-gray-900 placeholder-transparent border border-gray-200 focus:outline-none focus:border-gray-400;
  }
  .floating-select {
    @apply w-full px-6 py-2 text-lg text-gray-900 placeholder-transparent border border-gray-200 focus:outline-none focus:border-gray-400;
  }
  .floating-label {
    @apply absolute text-lg text-gray-400 transition-all duration-300 left-4 top-2.5;
  }
  .floating-input:focus~label, .floating-input:not(:placeholder-shown)~label, .floating-select:focus~label, .floating-select:not([value=""]):valid ~ label {
      @apply text-gray-600 -top-7;
  }

  /*
    override typography plugin max width setting of 65ch
    https://tailwindcss.com/docs/typography-plugin#overriding-max-width
  */
  .prose {
    @apply max-w-none;
  }

}
/* end components layer */