@tailwind base;
@tailwind components;

@tailwind utilities;


@layer components {

  [x-cloak] {
    display: none;
  }

  .responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .testing {
    @apply p-8 my-8 text-xl text-white bg-red-700;
    clear: both;
    font-family: sans-serif;
  }

  .testing:before {
    @apply block mb-4 text-lg text-yellow-400 uppercase;
    content: 'Testing Note';
  }

  .testing:after {
    @apply block mt-4 text-lg text-yellow-400 uppercase;
    content: 'remove once testing complete';
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-default;
  }

  h1, h2, h3, h4, h5, h6, .h4, .h5 {
    @apply leading-tight;
  }

  /**** end hero image split ****/
}
/* end components layer */