{# homepage #}
{% extends '_layout' %}

{% block content %}

<h1 class="my-24 text-center text-4xl">Home</h1>

<p class="text-5xl bg-sky-500">
  testing paragraph
</p><!-- /.font-5xl -->


{% endblock %}