{# homepage #}
{% extends '_layout' %}

{% block content %}

<section class="py-24 border-t border-gray-200">
  <div class="container">
    <div class="w-full">
      <h1 class="mb-8 text-4xl">Home</h1>

      <div class="prose prose-lg">
        <p>
          testing paragraph
        </p><!-- /.font-5xl -->
      </div><!-- /.prose -->
    </div><!-- /.w-full -->
  </div><!-- /.container -->
</section>


{% endblock %}