{# homepage

home page template is at pages/_entry-type/home

#}
{% extends '_layout' %}

{% set entry = craft.entries.slug('__home__').one() %}

{% block content %}

<h1>home page template is at pages/_entry-type/home</h1>


{% endblock %}